.nav{
    margin: 25px 50px 75px 100px;
    border: 1px solid;
    background-color: lightcoral;
}
.section{
    margin: 25px 50px 75px;
    border: 2px solid red;
    background-color: dodgerblue;
}
.article{
    margin: 25px 50px;
    border: 2px solid red;
    background-color: cyan
}

.footer{
    border: 1px solid red;
    width: 300px;
    margin: auto;
}